<div class="card-wrapper">
  <% @works.each do |work| %>
  <div class="card effect">
    <div class="thumbnail"><img class="top" src="<%= work.images %>"/></div>
    <div class="bottom">
      <h1><%= work.name %></h1>
      <div class="tools">
        <h2><%= work.tools %></h2>
      </div>
      <div class="separator"></div>
      <p><%= work.description %></p>
    </div>
  </div>
  <% end %>
</div>
